<p>Your content here.</p>

<ul class="contentList"></ul>

<input type="text" name="nameInput"/><button class="addToListBtn">Add</button>


<section class="navigateSection">
    <button class="displayFormBtn">Display form</button>
</section>