@import "compass_twitter_bootstrap";

.error {
    color: red;
}

.formResult {
    display: none;
    font-weight: bold;
}

.formValid {
    color: green;
    display: block;
}

.formInvalid {
    color: red;
    display: block;
}